<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <h2>uNivUS Content Management System</h2>
    <mat-nav-list>
      <a mat-button routerLink="">View All Updates</a>
      <a mat-button routerLink='create-update'>Create Update</a>
      <a mat-button routerLink='view-update-details'>View Update Details</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
