<div class="container">
  <div class="d-flex justify-content-between">
    <h2>Update</h2>
    <div>
      <button mat-raised-button routerLink="create-update">
        Create New Update
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"><h4>Cover Image</h4></div>
    <div class="col-sm-4"><h4>Event Description</h4></div>
    <div class="col-sm-3"><h4>Action</h4></div>
    <div class="col-sm-3"><h4>Status</h4></div>
  </div>

  <mat-list *ngFor="let update of updates">
    <div class="row">
      <div class="col-sm-2">
        <img
          class="update-cover-image"
          mat-card-image
          src="{{ update.coverImage }}"
          alt="Cover Image"
        />
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="d-flex justify-content-center">
            <h2>{{ update.title }}</h2>
          </div>
        </div>
        <div class="row">
          <p>{{ update.summary }}</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="d-flex justify-content-around">
          <div *ngIf="update.isPosted; else ifPostedAction">
            <button mat-raised-button routerLink="view-update-details">
              View Details
            </button>
          </div>

          <ng-template #ifPostedAction>
            <button mat-raised-button routerLink="view-update-details">
              Edit
            </button>
          </ng-template>

          <button mat-raised-button>Archive</button>
        </div>
      </div>

      <div class="col-sm-3">
        <span>
          <div *ngIf="update.isPosted; else toBeSent">Sent</div>
          <ng-template #toBeSent>
            To be sent on {{ update.scheduleMessage }}
          </ng-template>
        </span>
      </div>
    </div>
  </mat-list>
</div>
